.recent-notes {
  & > h3 {
    margin: 0.5rem 0 0 0;
    font-size: 1rem;
  }

  & > ul.recent-ul {
    list-style: none;
    margin-top: 1rem;
    padding-left: 0;

    & > li {
      // margin: 0.5rem 0;
      .desc {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;

        font-weight: 400;

        p {
          margin: 0;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }
      .section > .desc > h3 > a {
        background-color: transparent;
      }

      .section > .meta {
        // margin: 0 0 0.5rem 0;
        opacity: 0.6;
      }
    }

    .tags {
      display: flex;
      margin: 0;
      padding: 0;
      flex-wrap: nowrap;
    }
  }
}

.title {
  margin: 0;
}
