@use "./base.scss";

// typography improvements
html {
  font-size: 15px;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// p,
// ul,
// ol {
//   margin-bottom: 0rem;
// }

// a {
//   font-weight: 400;
// }

ul,
ol {
  margin-top: 0.3em;
  padding-left: 25px;
}

p:has(+ ul) {
  margin-bottom: 0em;
}

// a.no-link {
//   color: var(--link-unresolved-color);
//   opacity: var(--link-unresolved-opacity);
//   filter: var(--link-unresolved-filter);

//   &:hover {
//     color: var(--text-error-hover);
//   }
// }

// // Content Style Improvements
// h1.article-title {
//   margin-bottom: 1rem;
// }
